JVMLauncher/Debug
JVMLauncher/JVMLauncher.ncb
JVMLauncher/JVMLauncher.opt
JVMLauncher/JVMLauncher.plg
JVMLauncher/JVMLauncher.suo
JVMLauncher/JVMLauncher.vcproj.SORECO.rwei.user
JVMLauncher/Release
JavaLauncher/Debug
JavaLauncher/DebugConsole
JavaLauncher/JavaLauncher.ncb
JavaLauncher/JavaLauncher.suo
JavaLauncher/JavaLauncher.vcproj.SORECO.rwei.user
JavaLauncher/Release
JavaLauncher/ReleaseConsole
JavaNTServiceLauncher/Debug
JavaNTServiceLauncher/JavaNTServiceLauncher.ncb
JavaNTServiceLauncher/JavaNTServiceLauncher.suo
JavaNTServiceLauncher/JavaNTServiceLauncher.vcproj.SORECO.rwei.user
