JNILib/Debug
JNILib/JNILib.ncb
JNILib/JNILib.opt
JNILib/JNILib.suo
JNILib/JNILib.vcproj.SORECO.rwei.user
JNILib/Release
JNILib/x64
JavaLauncher/Debug
JavaLauncher/DebugConsole
JavaLauncher/JavaLauncher.ncb
JavaLauncher/JavaLauncher.suo
JavaLauncher/JavaLauncher.vcproj.SORECO.rwei.user
JavaLauncher/Release
JavaLauncher/ReleaseConsole
JavaWindowsServiceHandler/Debug
JavaWindowsServiceHandler/JavaNtServiceHandler.ncb
JavaWindowsServiceHandler/JavaNtServiceHandler.suo
JavaWindowsServiceHandler/JavaNtServiceHandler.vcproj.SORECO.rwei.user
JavaWindowsServiceHandler/JavaWindowsServiceHandler.ncb
JavaWindowsServiceHandler/JavaWindowsServiceHandler.suo
JavaWindowsServiceHandler/JavaWindowsServiceHandler.vcproj.SORECO.rwei.user
JavaWindowsServiceLauncher/Debug
JavaWindowsServiceLauncher/JavaNTServiceLauncher.ncb
JavaWindowsServiceLauncher/JavaNTServiceLauncher.suo
JavaWindowsServiceLauncher/JavaNTServiceLauncher.vcproj.SORECO.rwei.user
JvmLauncher/Debug
JvmLauncher/JVMLauncher.ncb
JvmLauncher/JVMLauncher.opt
JvmLauncher/JVMLauncher.plg
JvmLauncher/JVMLauncher.suo
JvmLauncher/JVMLauncher.vcproj.SORECO.rwei.user
JvmLauncher/Release
JvmLauncher/x64
