JVMLauncher2/Debug
JVMLauncher2/JVMLauncher.ncb
JVMLauncher2/JVMLauncher.opt
JVMLauncher2/JVMLauncher.plg
JVMLauncher2/JVMLauncher.suo
JVMLauncher2/JVMLauncher.vcproj.SORECO.rwei.user
JVMLauncher2/Release
JavaLauncher/Debug
JavaLauncher/DebugConsole
JavaLauncher/JavaLauncher.ncb
JavaLauncher/JavaLauncher.suo
JavaLauncher/JavaLauncher.vcproj.SORECO.rwei.user
JavaLauncher/Release
JavaLauncher/ReleaseConsole
JavaNTServiceLauncher/Debug
JavaNTServiceLauncher/JavaNTServiceLauncher.ncb
JavaNTServiceLauncher/JavaNTServiceLauncher.suo
JavaNTServiceLauncher/JavaNTServiceLauncher.vcproj.SORECO.rwei.user
